# All directories
*.log
.DS_Store
.mypy_cache
__pycache__

# Specific directories
/.idea
/.venv
/asr-tools_venv
/config.toml
_input
_output
.env

models 
asr_watch_DE.py
asr_watch_EN.py
asr_watch_FR.py
asr_watch_ES.py
asr_watch_PL.py
asr_watch_AUTO.py