# All directories
*.log
.DS_Store
.mypy_cache
__pycache__
.ruff_cache
claude.md

# Specific directories
/.idea
/.venv
/asr-tools_venv
/config.toml
_input
_output
.env
data
.direnv
.claude
.pytest_cache

models 
asr_watch_DE.py
asr_watch_EN.py
asr_watch_FR.py
asr_watch_ES.py
asr_watch_PL.py
asr_watch_RU.py
asr_watch_AUTO.py

whisper_tools_finetuned.py

/asr_venv
